@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFF0; /* Ivory */
  color: #A9BA9D; /* Soft Green */
}
